/*form profesores*/

.profesorForm {
  position: absolute;
  background-color: var(--ligth-grey-900);
  backdrop-filter: blur(3px);
  transition: opacity 0.8s;
  opacity: 1;
  pointer-events: all;
  z-index: 5;
}

.profesorFormActive {
  opacity: 0;
  pointer-events: none;
}

.profesorForm__container {
  box-shadow: 5px 5px 15px 1px var(--box-shadow);
  border: 1px solid var(--ligth-yellow-600);
}

.profesorForm__container--icon {
  color: var(--dark-black-100);
  position: fixed;
  top: 10px;
  right: 15px;
  font-size: var(--txt-5);
  cursor: pointer;
  font-weight: 900;
}

.pct__title {
  font-size: var(--txt-2);
  padding: 5px;
}

.profesorForm__formSection--form > label > input {
  color: var(--dark-black-100);
  background-color: var(--ligth-white-100);
}

.profesorForm__container {
  padding: 15px;
}

.pffsf input {
  padding: 10px;
}

.profesorForm__container2 {
  gap: 10px;
}

.pct__title2 {
  font-size: var(--txt-2);
}

.pffsf2 input,
.pffsf2 select {
  padding: 7px;
}

.pffsf2 > label > span {
  font-size: var(--txt-9);
  display: flex;
  align-items: center;
  gap: 5px;
}
