/*main header*/
.main {
  width: 100%;
}

.main__section {
  padding: 20px 20px 0 20px;
}

.headerMain,
.headerMain__button {
  justify-content: space-between;
  align-items: center;
  color: var(--ligth-grey-100);
  font-size: var(--txt-1);
}

.headerMain i {
  font-size: var(--txt-2);
}

.headerMain__button > i {
  font-size: var(--txt-3);
}
.headerMain__button {
  transition: scale 0.4s, color 0.4s;
}
.headerMain__button:hover {
  /*rotar */
  /* transform: rotate(15deg); */
  scale: 1.2;
  color: var(--ligth-yellow-100);
}

.headerMain__search {
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.headerMain__button,
.headerMain__search > i {
  cursor: pointer;
}

.headerMain__label {
  border: 1px solid var(--ligth-grey-200);
  border-radius: var(--radius-6);
  padding: 5px;
  gap: 15px;
}

.headerMain__label > i {
  cursor: pointer;
}
.headerMain__label > i:hover {
  color: var(--dark-black-100);
}

#filter {
  font-size: var(--txt-1);
}
