#preloader {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 10000;
  transition: opacity 0.8s;
  background-color: var(--ligth-white-100);
  background-image: url("../../assets/bbburst.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.containerPreLoader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  color: var(--dark-black-100);
  margin-bottom: 25px;
  font-size: var(--txt-4);
  letter-spacing: 2px;
  background-color: var(--ligth-white-100);
  border-radius: var(--radius-1);
  padding: 5px;
}

.loading {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading .line-box {
  /* padding: 2px; */
  width: 40%;
  /* height: 20px; */
  border: 2px solid var(--ligth-beige-200);
  border-radius: var(--radius-1);
  background-color: var(--ligth-white-100);
}

.loading .line-box .line {
  height: 20px;
  border-radius: var(--radius-1);
  background-color: var(--ligth-beige-200);
  animation: loading 120s forwards cubic-bezier(0, 0, 0, 0);
}

@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.ocultar {
  opacity: 0;
  pointer-events: none;
}

.numb {
  font-size: var(--txt-4);
  padding: 20px 0;
  color: var(--dark-black-100);
}
