.mainTable,
.mainTable__table {
  width: 100%;
}
.mainTable__h2,
.mainTable__table--thead {
  background-color: var(--ligth-yellow-300);
}

.mainTable__h2 {
  padding: 15px 0;
  border-bottom: 1px solid var(--ligth-grey-200);
  text-transform: capitalize;
  font-size: var(--txt-2);
}

.mainTable__table > .mainTable__table--thead > tr > th:first-child,
.mainTable__table > .mainTable__table--thead > tr > th:last-child,
.mainTable__table > .mainTable__table--tbody > tr > td:first-child,
.mainTable__table > .mainTable__table--tbody > tr > td:last-child {
  padding: 0 15px;
}

.mainTable__table--thead > tr > th,
.mainTable__table--tbody > tr > td {
  padding: 15px 0;
}

.mainTable__table--thead > tr > th {
  color: var(--ligth-grey-300);
  font-size: var(--txt-12);
  text-transform: capitalize;
  font-weight: 300;
}

.mainTable__table--tbody > tr > td {
  font-size: var(--txt-1);
  font-weight: 500;
}

.mainTable__table--tbody {
  background-color: var(--ligth-white-100);
}
.mainTable__table--tbody > :nth-child(even) {
  background-color: var(--ligth-yellow-300);
}

.mainTable__table--tbody i {
  color: var(--ligth-yellow-100);
  font-size: var(--txt-2);
  cursor: pointer;
}
